body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3vw;
    font-weight:700;
}
h3{
    font-size:2vw;
}
p{
    font-size:1vw;
    text-align: justify;
}

.sp1 {
    color: rgb(223, 35, 129);
}

.sp2 {
    color: rgb(142, 19, 190);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.linkedin {
    text-decoration: none;
    background-image: linear-gradient(rgb(174, 0, 255), rgb(255, 60, 0));
    padding: 10px 40px;
    border-radius: 50px;
    color: aliceblue;
}

.linkedin:hover {
    background-image: linear-gradient(rgb(204, 0, 255), rgb(4, 0, 255));
    color: rgb(231, 210, 17);
    font-weight: bold;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: vh;
}
.dreem{
   text-align: justify;
   padding-right: 2%;;

}
.dreem p{
    width: 100%;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right:5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid blue;
}
.devel{
    color: rgb(211, 184, 34);
}
.experienc-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 5px;
   
}
#Full-stack-developer{
    border-left: ;
}
footer p{
    text-align: center;
}